main {
  display: flex;
  justify-content: center;
}

.egeszdoboz {
  margin: auto;
  width: 50%;
}
img {
  width: 1300px;
}
.text {
  margin: auto;
  width: 750px;
}
#imagebox {
  position: relative;
  margin-bottom: 50px;
}
#kepfelirat1 {
  position: absolute;
  top: 220px;
  margin-left: 300px;
  font-family: 'Abril Fatface', regular;
  color: #222;
  font-size: 35px;
}
#kepfelirat2 {
  position: absolute;
  top: 230px;
  margin-left: 300px;
  font-family: 'Abril Fatface', regular;
  color: #222;
  font-size: 70px;
}
.elsoparagrafus {
  
 font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  font-weight: 300;
  margin: auto;
  width: 100%;
}
#kiemeles {
  font-weight: 400;
}
ul {
  
 font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-left: -15px;
  line-height: 130%;
  margin-bottom: 40px;
}
.quoteblokk {
  display: block;
  justify-content: center;
  margin-left: -30px;
  
}

.quote {
  background:#222D;
  color: white;
  font-family: 'Abril Fatface', regular;
  font-size: 24px;
/*   height: 145px; */
  width: 800px;
/*   margin-left: 0; */
  position: relative;  
/*   text-align: center; */
/*   justify-content: center; */
}
.quoteinside {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

}
#idezojel {
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: -20px;
  left: 0px;
  font-size: 110px
}
.cimek {
/*   margin: auto;
  width: 100%; */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
  
}
.alcimek {
/*   margin: auto;
  width: 55%; */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 30px;
}
.alalcimek {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: -25px;
}
p {
  margin: auto;
  width: 750px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 30px;
}
hr.solid {
  border-top: 4px solid #222;
  margin-left: -30px;
}